---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
import Paginate from "../components/Paginate.astro";
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';
import config from "../../public/site/config.json";

export async function getStaticPaths({ paginate }) {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles?pagination[pageSize]=1000&populate=*&sort=id:desc',
  });

  return paginate(articles.data, {
    pageSize: config.pageSize,
  });
}
const { page } = Astro.props;

---

<Layout image="">
  <main>
    <div class="t-container t-max-w-7xl t-py-10">
      {
          page.data.map((article) => (
          <Post
            title={article.attributes.title}
            slug={article.attributes.slug}
            date={article.attributes.publishedAt}
            image={article.attributes.image}
            tags={article.attributes.tags}
          />
        ))
      }

      <Paginate
      />

    </div>
  </main>
</Layout>


