---
import Layout from "../layouts/Layout.astro";
import PostTags from "../components/PostTags.astro";
import PostDate from "../components/PostDate.astro";
import BackgroundPicture from "../components/BackgroundPicture.astro";
import AdNative from "../components/AdNative.astro";

import "../css/slug.scss";

export async function getStaticPaths() {
  const posts = await Astro.glob("../content/**/*.mdx");

  return posts.map((post) => ({
    params: {
      slug: post.frontmatter.slug,
    },
    props: {
      post,
    },
  }));
}

const { Content, frontmatter } = Astro.props.post;
---

<Layout title={frontmatter.title} image={frontmatter.image}>
  <main>
    <div class="t-container t-max-w-7xl md:t-py-20">
      <div class="t-flex t-flex-col">
        <div
          class="t-order-2 t-mx-auto t-mb-5 t-pt-10 sm:t-px-[10vw] md:t-order-1 md:t-pt-0"
        >
          <h1 class="slug word-wrap t-mb-5 t-font-p t-text-white">
            {frontmatter.title}
          </h1>

          <h2 class="slug word-wrap t-mb-5 t-font-s t-text-3xl t-text-white">
            {frontmatter.subtitle}
          </h2>

          {frontmatter.date && <PostDate date={frontmatter.date} />}
        </div>

        {
          frontmatter.image && (
            <BackgroundPicture
              src={frontmatter.image}
              breakpoints={{ count: 4, minWidth: 750, maxWidth: 2048 }}
              class={``}
            />
          )
        }
      </div>

      <div class="t-mx-auto t-my-5 t-mb-5 sm:t-my-10 sm:t-px-[10vw]">
        <div class="rtm t-mb-16 t-text-white">
          <Content />
        </div>
        <div>
          <AdNative />
        </div>
        {frontmatter.tags && <PostTags tags={frontmatter.tags} />}
      </div>
    </div>
  </main>
</Layout>
