---
import fetchApi from '../lib/strapi';
import type Post from '../interfaces/article';

export async function getStaticPaths() {
  const articles = await fetchApi<Article[]>({
    endpoint: 'articles',
    wrappedByKey: 'data',
  });

  return articles.map((article) => ({
    params: { slug: article.attributes.slug },
    props: article,
  }));
}
type Props = Article;

const article = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <head>
       <meta charset="UTF-8">
    <title>{article.attributes.title}</title>
  </head>

  <body>
    <main>

      <h1>{article.attributes.title}</h1>

      <!-- Render plain text -->
      <p>{article.attributes.content}</p>
        {article.attributes.content}
      <Fragment set:html={article.attributes.content} />
    </main>
  </body>
</html>