---
import Layout from "../layouts/Layout.astro";
import Post from "../components/Post.astro";
import Paginate from "../components/Paginate.astro";
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/article';

const articles = await fetchApi<Article[]>({
  endpoint: 'articles?populate=*&sort=id:desc', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
});
---

<Layout image="">
  <main>
    <div class="t-container t-max-w-7xl t-py-10">
      {
          articles.map((article) => (
          <Post
            title={article.attributes.title}
            slug={article.attributes.slug}
            date={article.attributes.publishedAt}
            image={article.attributes.image}
            tags={article.attributes.tags}
          />
        ))
      }
      <Paginate
      />
    </div>
  </main>
</Layout>


